# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Python backend
__pycache__/
*.py[cod]
.venv/
backend/.env
backend/app/uploads/categories/*.jpg
backend/app/uploads/categories/*.jpeg
backend/app/uploads/categories/*.png
backend/app/uploads/cities/*.jpg
backend/app/uploads/cities/*.jpeg
backend/app/uploads/cities/*.png
backend/app/uploads/places/*.jpg
backend/app/uploads/places/*.jpeg
backend/app/uploads/places/*.png
backend/app/uploads/profile_pictures/*.jpg
backend/app/uploads/profile_pictures/*.jpeg
backend/app/uploads/profile_pictures/*.png

app-example

# generated native folders
/ios
/android
